@import url(https://fonts.googleapis.com/css?family=Roboto);

#container{
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto', sans-serif;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.result {
  position: relative;
  align-items: center;
  justify-content: center;
  align: center;
}

#ndt7_download {
  font-size: 700%;
}

#ndt7_upload {
  font-size: 400%;
}
